@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=Playfair:wght@400;700&family=Roboto+Slab:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav li,
button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  /* display: none; */
}

/* Start */

:root {
  --color-error: #ff3918;
  --color-valid: rgb(170, 255, 170);

  --color-primary-400: #06d5ee;
  --color-primary-500: #00b2d1;
  --color-primary-600: #00899c;
  --color-primary-700: #00666f;

  --color-accent-200: #fff1f0;
  --color-accent-300: #ffe8e7;
  --color-accent-400: #ffc9ba;
  --color-accent-500: #ff8060;

  --color-neutral-400: #eceff1;
  --color-neutral-500: #b0bec5;
  --color-neutral-600: #90a4ae;

  --ff-gentium: "Gentium Book Plus", serif;
}

/* Dialogs */

dialog::backdrop {
  background: rgb(0, 0, 0, 0.25);
  backdrop-filter: blur(1.7px);
}

dialog:modal {
  background: var(--color-accent-200);
  border: none;
  border-radius: 1rem;
}

fieldset {
  border: none;
  border-block: 3px solid var(--color-primary-700);
  text-align: center;
  padding: 1rem;

  display: grid;
  gap: 0.7rem;
}

fieldset input,
fieldset textarea,
fieldset select,
fieldset button {
  padding: 0.4rem;
}

.form-item {
  display: grid;
  grid-template-rows: 1rem 1fr;
  gap: 0.2rem;
  text-align: left;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  font-weight: 700;

  & button {
    font-weight: bold;
  }
  & .submit-button {
    background: var(--color-valid);
  }

  & .cancel-button {
    background: var(--color-accent-400);
  }
}
legend {
  padding-inline: 0.3rem;
  font-weight: bold;
  color: var(--color-primary-700);
}

/* Main */
body {
  background: var(--color-neutral-500);
  font-family: var(--ff-gentium);
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;

  display: flex;
  flex-direction: column;

  & main {
    flex: 1;
  }
}

header {
  background: var(--color-primary-600);
  padding-inline: 2rem;
}

footer {
  background: var(--color-neutral-600);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar {
  background: var(--color-primary-500);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.tasklist {
  display: flex;
  flex-direction: column;

  & button {
    width: fit-content;
    align-self: center;
    padding: 1rem;
  }

  & h2 {
    text-align: center;
  }
}

.tasksUL {
  --_space: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: var(--_space);
  padding: var(--_space);
}

.tasklist li.taskItem {
  display: flex;
  background: tan;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  width: 100%;
}

button.deleter {
  padding: 0.5rem;
  border: 2px solid var(--color-neutral-600);
  border-radius: 0.2rem;
}
